<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text"name="username" placeholder="Enter Username">
        <br>
        <br>
        <textarea name="content" id="" placeholder="Write Your Post "></textarea>
        <button>Submit Post</button>
    </form>
</body>
</html>